@import '../../constants/variables.scss';

.ShopUpgradesAttack {
  display: flex;
  padding: pix(10);
  border: pix(2) solid black;
  border-radius: pix(10);
  margin: pix(10);
  height: pix(60);

  &-icon {
    margin-right: pix(20);
    height: 100%;
    & img {
      height: 100%;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: pix(20);
  }

  &-button {
    border: 1px solid black;
    border-radius: pix(10);
    padding: pix(5) pix(20);
    margin-left: auto;
    user-select: none;
    cursor: pointer;
    background-color: burlywood;

    & img {
      height: pix(25);
    }
  }
}
