@import '../../helpers/variables.scss';

.LeaderboardScreen {
  padding: pix(20);

  & table {
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    border-radius: pix(10);
  }

  & th,
  td {
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle;
  }

  & td {
    height: pix(15);
  }
}
