.MainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: pix(30);
  background-color: rgba(201, 201, 201, 0.8);
  border-radius: pix(50);
  box-shadow: 0 pix(3) 0 transparent;

  & .tab {
    position: relative;
    padding: pix(0) pix(10);
    margin: pix(5) 0;
    user-select: none;
    cursor: pointer;
    border-radius: pix(10);

    &:hover {
      opacity: 0.5;
    }
    &.active {
      box-shadow: 0 pix(3) 0 rgb(255, 255, 208);
      color: white;
    }
    &.exit-fight {
      margin-top: 85%;
    }
  }
  .menu-icon {
    width: pix(33);
    height: pix(33);
  }

  .tooltip {
    border-radius: 10px;
    background-color: rgba(201, 201, 201, 0.8);
    pointer-events: none;
    z-index: 1;
  }
}

.exit-fight-dialog {
  // display: flex; // add to left side of screen
}
