.CharacterSkills {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-evenly;
  border: pix(1) solid black;

  .section {
    margin: pix(3);
    background-color: bisque;

    .group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      border: pix(1) solid green;
      padding: pix(1);
      margin: pix(1);
      border-radius: pix(10);

      .skill {
        display: flex;
        margin: pix(3);
        width: pix(30);
        height: pix(30);
        border: pix(1) solid black;
      }
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: pix(1);
    font-size: pix(14);
    border: 1px solid red;
  }

  .multiplier {
    border: pix(2) solid green;
    text-align: center;
    font-size: pix(12);
    width: pix(25);
    padding: pix(1);
  }
}
