.CharacterSkill {
  cursor: pointer;
  &-tooltip {
    .tooltip {
      display: flex;
      flex-direction: column;
      padding: pix(5);
      background-color: lightgray;
    }
  }

  &.disabled {
    filter: brightness(0.7);
    cursor: not-allowed;
  }
}
