@import '../../constants/variables.scss';

.ShopScreen {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .tabs {
    display: flex;
    align-items: center;
    height: 15%;
    border-bottom: pix(2) solid black;

    & .tab {
      padding: pix(10);
      border: pix(2) solid black;
      border-radius: pix(10);
      margin: pix(10);
      cursor: pointer;

      &.active {
        background-color: rgba($color: rgb(125, 210, 231), $alpha: 0.8);
        // background-color: red;
      }
    }
  }

  & .skills {
    height: 85%;
    overflow-y: auto;
  }
}
