.CharacterScreenMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: pix(7);
  grid-column: 1 / span 2;

  & > div {
    width: 100%;
    margin: pix(5);
    padding: pix(5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba($color: rgb(73, 74, 75), $alpha: 0.8);
    color: white;
    font-size: pix(14);
  }

  & div:first-child {
    background-color: red;
    width: 30%;
  }

  .active {
    background-color: rgba($color: rgb(77, 197, 228), $alpha: 0.8);
    // background-color: red;
  }
}
