@import '../../constants/variables.scss';

.CharacterScreenMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: pix(7);
  grid-column: 1 / span 2;

  & > div {
    width: 100%;
    margin: pix(10);
    padding: pix(10);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .active {
    background-color: rgba($color: rgb(125, 210, 231), $alpha: 0.8);
    // background-color: red;
  }
}
