@import '../constants/variables.scss';

.LoginScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-form {
    display: flex;
    flex-direction: column;
    width: pix(300);
    margin: pix(10) auto;
    padding: pix(10);

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: pix(50);
      margin-bottom: pix(30);
    }

    &-label {
      display: block;
      font-size: pix(20);
      margin-bottom: pix(5);
    }

    &-input {
      display: block;
      width: 100%;
      height: pix(10);
      margin-bottom: pix(10);
      padding: pix(10) pix(0);
      border: pix(1) solid #ccc;
      font-size: pix(20);
    }

    &-error {
      font-size: pix(20);
      color: red;
    }

    &-button {
      display: block;
      width: 100%;
      height: pix(40);
      padding: pix(10);
      font-size: pix(15);
      margin: pix(10) 0;
      background-color: #007bff;
      border: pix(1) solid #ccc;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #0069d9;
      }
    }
  }
  &-message {
    font-size: pix(18);

    &-button {
      color: blue;
      cursor: pointer;
    }
  }
}
