@import '../constants/variables.scss';

.LoginScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  &-form {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    &-label {
      display: block;
      margin-bottom: 5px;
    }

    &-input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 5px 0px;
      border: 1px solid #ccc;
    }

    &-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #0069d9;
      }
    }
  }
}
