.ShopDecksList {
  display: flex;
  padding: pix(5) pix(10);

  .decks {
    display: flex;
    flex-direction: column;
    background-color: rgba(196, 196, 187, 0.8);
    border-radius: pix(20);
    width: pix(100);
    padding: pix(5) pix(10);
    .deck {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: pix(5) pix(5);
      background-color: rgba(142, 154, 156, 0.8);
      margin: pix(5) 0;
      font-size: pix(10);
      &.new {
        background-color: green;
      }
      &.active {
        background-color: rgba(125, 210, 231, 0.8);
      }
      &.disabled {
        background-color: rgb(61, 61, 61);
        cursor: not-allowed;
      }
    }
  }

  .deck-characters {
    height: pix(350);
    width: pix(700);
  }
}

.ShopDecksList-new-desk-tooltip {
  font-size: pix(15);
  .new-deck-container {
    display: flex;
    width: 500px;
  }
}
