.ShopDeckCharacters {
  .characters {
    display: grid;
    overflow-y: auto;
    height: pix(350);
    grid-template-columns: repeat(auto-fill, minmax(pix(120), 1fr));
    > .item {
      position: relative;
      margin: pix(10);
      width: pix(120);
      height: pix(120);

      &.locked {
        filter: brightness(33%);
      }

      .remove-char {
        position: absolute;
        cursor: pointer;
        right: pix(0);
        top: pix(0);
        background-color: #ffffff;
        border-radius: 50%;
        svg {
          width: pix(20);
          height: pix(20);
        }
        &:hover {
          border-radius: 50%;
          background-color: #ffaeae;
        }
      }
    }
    > .item.new {
      display: flex;
      font-family: 'Courier New', Courier, monospace;
      background-color: green;
      border-radius: pix(75);
      align-items: center;
      justify-content: center;
      font-size: pix(150);
      cursor: pointer;
    }
  }
}

.ShopDeckCharacters-dialog {
  .MuiDialog-paper {
    min-width: pix(500);
  }
}
