@import '../helpers/variables.scss';

.HealthBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: pix(30);
  border-radius: pix(10);
  margin-bottom: pix(3);
  font-size: pix(10);
  font-weight: 600;
}
