@import "../constants/variables.scss";

.MainScreen {
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 15%;
    font-size: pix(10);
    background-color: greenyellow;
    text-align: center;
    border-radius: 50%;
    user-select: none;
  }
}
