@import '../helpers/constants/variables.scss';

.ManaBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: pix(30);
  border-radius: pix(10);
  font-size: pix(10);
  font-weight: 600;
}
