@import "../constants/variables.scss";

.CharacterScreenMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: pix(7);
  
  &-row {
      gap: pix(25);
      display: flex;
      
      & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: pix(50);
      height: pix(50);
      outline: 1px solid coral;
    }
  }
}
