@import './constants/variables.scss';

* {
  font-family: 'Almendra SC';
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: black;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  height: 100vh;
  min-height: $pixelHeight;
  font-family: 'Almendra SC';
  font-size: pix(20);
}

#root {
  display: flex;
  width: $pixelWidth;
  height: $pixelHeight;
  // background-color: silver;
  justify-content: center;
}
