* {
  font-family: 'Almendra SC';
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  min-height: $pixelHeight;
  font-family: 'Almendra SC';
  font-size: pix(20);
  background-image: url('@/assets/bg5.webp');
  // animation: changeBackground 130s infinite; /* Total duration: 120s for images + 10s for transitions */
  transition: background-image 3s ease-in-out;
}

// @keyframes changeBackground {
//   0% {
//     background-image: url('./assets/background1.png');
//   }
//   22% {
//     background-image: url('./assets/background1.png');
//   }
//   25% {
//     background-image: url('./assets/background2.png');
//   }
//   47% {
//     background-image: url('./assets/background2.png');
//   }
//   50% {
//     background-image: url('./assets/background3.png');
//   }
//   72% {
//     background-image: url('./assets/background3.png');
//   }
//   75% {
//     background-image: url('./assets/background4.png');
//   }
//   97% {
//     background-image: url('./assets/background4.png');
//   }
//   100% {
//     background-image: url('./assets/background1.png');
//   }
// }

#root {
  display: flex;
  width: $pixelWidth;
  height: $pixelHeight;
  justify-content: center;
}
