@import './constants/variables.scss';

* {
  font-family: 'Almendra SC';
}
body {
  background-color: black;
  height: 100vh;
  font-family: 'Almendra SC';
  font-size: pix(20);
}

#root {
  display: grid;
  width: $pixelWidth;
  height: $pixelHeight;
  background-color: silver;

  // center
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
